<div class="zona1">
  <div *ngIf="isLoading">Cargando...</div>
  <div *ngIf="errorMessage">{{ errorMessage }}</div>

  <div *ngIf="pelicula && !isLoading">

    <h1 class="tiulo1">{{ pelicula.title }}</h1>

    <h2 class="tiulo1 text-center mb-3">Naves Espaciales</h2>
    <div class="container">
      <div class="row">
        <div *ngFor="let starship of pelicula.starships" class="col-12 col-md-4 mb-5">
          <div class="card zonacard">
            <div class="card-body">
              <h5 class="card-title titlec text-center">{{ starship.name }}
              </h5>
            </div>
          </div>
        </div>
      </div>
    </div>


    <h2 class="tiulo2 text-center mb-3">Personajes</h2>
    <div class="container">
      <div class="row">
        <div *ngFor="let character of pelicula.characters" class="col-12 col-md-4 mb-5">
          <div class="card zonacard2">
            <div class="card-body">
              <h5 class="card-title titlec text-center"> {{ character.name }}
              </h5>
            </div>
          </div>
        </div>
      </div>
    </div>


    <h2 class="tiulo3  text-center mb-3">Planetas</h2>
    <div class="container">
      <div class="row">
        <div *ngFor="let planet of pelicula.planets" class="col-12 col-md-4 mb-5">
          <div class="card zonacard3">
            <div class="card-body">
              <h5 class="card-title titlec text-center"> {{ planet.name }}
              </h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>