.zona1 {
    margin-top: 40vh;
    width:97%;
    height: auto;
    background: rgb(30, 30, 30);
    margin: 0 auto;
    padding: 20px;
    margin-top: 10px;
    color: #343434;
    border-radius: 5px;
    box-shadow: 7px 13px 37px #000000;
  
}
.zonacard{
    box-shadow: 10px 5px 5px rgba(238, 224, 26, 0.241);

}
.card{
    background-color: #343434;
    color: #fff;
}
.titlec{
    color: #ffe81b;
}