<div class="zona1">
    <div *ngIf="isLoading" style="color: #ffd321 ;">Cargando películas...</div>
  
    <div *ngIf="!isLoading" class="container">
      <div class="row py-4">
        <div *ngFor="let movie of data; let i = index" class="col-12 col-md-4 mb-5">
          <div class="card zonacard">
            <div class="card-body">
              
              <a [routerLink]="['/detalils', i + 1]">
                <h5 class="card-title titlec text-center">{{ movie.title }}</h5>
              </a>
              <p class="card-text"><strong>Director:</strong> {{ movie.director }}</p>
              <p class="card-text"><strong>Episodio:</strong> {{ movie.episode_id }}</p>
              <p class="card-text"><strong>Año de lanzamiento:</strong> {{ movie.release_date | date: 'yyyy' }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  