.zona1 {
    margin-top: 40vh;
    width:97%;
    height: auto;
    background: rgb(30, 30, 30);
    margin: 0 auto;
    padding: 20px;
    margin-top: 10px;
    color: #343434;
    border-radius: 5px;
    box-shadow: 7px 13px 37px #000000;
  
}
.tex-label{

    color: #fff;
}
.btn{
    background-color: #ffd321;
}
.btn:disabled{
    background-color: #ffe063;
}